/** biome-ignore-all lint/complexity/noImportantStyles: override */

.rp-tabs__label {
    flex-wrap: nowrap !important;
    padding: 8px !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
}

.rp-tabs__label__item {
    flex-shrink: 0 !important;
    margin-right: 8px !important;
}

.rp-search-panel__modal {
    background-color: var(--rp-c-bg) !important;
}

@media (max-width: 960px) {
    .rp-search-panel__modal {
        border-radius: 0 0 var(--rp-radius) var(--rp-radius) !important;
    }
}
