/* Light Mode */
:where(html:not(.rp-dark)) {
    --rp-c-brand-dark: #ae02d7;
    --rp-home-hero-secondary-color: #fe8903;

    /* HomeHero */
    --rp-home-hero-title-color: transparent;
    --rp-home-hero-title-bg: linear-gradient(
        90deg,
        #fe8903 0% /* orange */,
        #feb86a 30% /* light orange */,
        #e669fe 65% /* light purple */,
        #cd03fe 100% /* purple */
    );

    /* HomeBackground */
    --rp-home-background-bg:
        radial-gradient(
            55% 70% at 100% 0%,
            rgba(254, 137, 3, 0.22) 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        radial-gradient(
            65% 85% at 50% 0%,
            rgba(205, 3, 254, 0.18) 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        radial-gradient(
            90% 75% at 0% 10%,
            rgba(230, 105, 254, 0.14) 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        #ffffff;
}

/* Dark Mode */
:where(html.rp-dark) {
    --rp-c-brand-dark: #ae02d7;
    --rp-home-hero-secondary-color: #fe8903;

    /* HomeHero */
    --rp-home-hero-title-color: transparent;
    --rp-home-hero-title-bg: linear-gradient(
        90deg,
        #feb86a 0% /* light orange */,
        #fe8903 30% /* orange */,
        #e669fe 65% /* light purple */,
        #cd03fe 100% /* purple */
    );

    /* HomeBackground */
    --rp-home-background-bg:
        radial-gradient(
            60% 75% at 100% 0%,
            rgba(254, 137, 3, 0.35) 0%,
            rgba(18, 18, 18, 0) 100%
        ),
        radial-gradient(
            75% 95% at 50% 0%,
            rgba(205, 3, 254, 0.25) 0%,
            rgba(18, 18, 18, 0) 100%
        ),
        radial-gradient(
            120% 90% at 0% 0%,
            rgba(230, 105, 254, 0.2) 0%,
            rgba(18, 18, 18, 0) 100%
        ),
        #121212;
}
